.footer {
  background-color: #222;
  color: white;
  padding: 44px 0 44px 0;
}

.footer-container {
  margin: auto;
  width: 80%;
}

.footer-nav {
  text-align: right;
  font-size: 14px;
}

.footer small {
  float: left;
}

.footer-nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}