.section-title {
  font-size: 3em;
}
.about-text {
  font-size: 1.5em;
  margin: auto;
  text-align: left;
  width: 960px;
  padding-bottom: 44px;
}
.about-photo {
  border-radius: 50%;
  padding-bottom: 20px;
}

.resume-button {
  text-align: center;
  margin-top: 2rem;
}
.resume-button a {
  text-decoration: none;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  padding: 0.6rem 1rem;
  border-radius: 4px;
  transition-property: box-shadow, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4,0,0.2, 1);
}
.resume-button a:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
}