.row {
  padding: 66px 0 44px 0;
}
.col-1-3 {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.grid {
  margin: auto;
  width: 80%;
}
.img-tab {
  width: 340px;
  height: 240px;
  border-radius: 10px;
  display: block;
}

/* Overlay effect */
.img-container {
  position: relative;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 340px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.overlay-text {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.img-container:hover .overlay {
  opacity: .5;
}
