.Hero {
  background-image: url('cabin.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 60%;
  text-align: center;
  height: 500px;
  color: white;
}

/* Not currently in use. Want to incorperate later */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
